---
# Language:        Cpp
BasedOnStyle: WebKit
ColumnLimit:     120
AlignAfterOpenBracket: AlwaysBreak
BinPackArguments: false
BinPackParameters: false
PenaltyBreakAssignment: 1000
PenaltyBreakFirstLessLess: 0
PenaltyReturnTypeOnItsOwnLine: 200
PenaltyIndentedWhitespace: 1000
AlignConsecutiveMacros: None
AllowAllArgumentsOnNextLine: true
AllowAllConstructorInitializersOnNextLine: true
AllowShortLambdasOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Custom
BraceWrapping:
    AfterClass: true
    AfterControlStatement: true
    AfterEnum: true
    AfterFunction: true
    AfterNamespace: true
    AfterObjCDeclaration: true
    AfterStruct: true
    AfterUnion: true
    BeforeCatch: true
    BeforeElse: true
    IndentBraces: false

FixNamespaceComments: true
NamespaceIndentation: All
SpaceAfterLogicalNot: false
SpaceBeforeCpp11BracedList: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeRangeBasedForLoopColon: true
StatementMacros:
  - Q_UNUSED
  - QT_REQUIRE_VERSION
Cpp11BracedListStyle: true
BreakStringLiterals: false
AlwaysBreakBeforeMultilineStrings: true
...
