[submodule "app/QPinnableTabWidget"]
	path = app/dependencies/QPinnableTabWidget
	url = ../QPinnableTabWidget.git
[submodule "app/QLogger"]
	path = app/dependencies/QLogger
	url = ../QLogger.git
[submodule "app/git"]
	path = app/dependencies/git
	url = ../git.git
[submodule "tests/deps/googletest"]
	path = tests/deps/googletest
	url = https://github.com/google/googletest.git
